#contact {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(12, 125, 145);
  .heading {
    margin-top: 70px;
    color: white;
  }
  .request {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  .resume {
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
      background-color: rgb(185, 170, 170);
    }
    a {
      color: black;
    }
  }
}
.social-media {
  margin-bottom: 10px;
  width: 300px;
  display: flex;
  justify-content: space-evenly;

  a {
    font-size: 2rem;
    color: white;
    &:hover {
      color: white;
    }
  }
  .linkedin:hover {
    color: #0a66c2;
  }
  .github:hover {
    color: black;
  }
  .mail:hover {
    color: #d04836;
  }
}

.contact-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  margin: 30px auto;
  background-color: white;
  box-shadow: 0 0 8px 1px black;
  @media (max-width: 800px) {
    max-width: 300px;
  }
  p {
    color: rgba(5, 115, 119, 0.5);
    margin: 5px auto;
    font-size: 1em;
  }
}
.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    color: red;
    font-size: 0.8em;
  }
}
input,
textarea {
  width: 90%;
  height: 10px;
  margin-top: 30px;
  padding: 15px;
  font-size: 1em;
  outline: none;
  border: none;
  border-bottom: 2px solid #999;
}
input:focus,
textarea:focus {
  border-bottom: 2px solid rgb(13, 46, 236);
}

form button {
  margin: 20px;
  font-size: 1.2rem;
  background-color: rgb(86, 243, 86);
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    filter: opacity(0.8);
  }
}
